-- Create students table
CREATE TABLE IF NOT EXISTS public.students (
    id SERIAL PRIMARY KEY,
    regnum VARCHAR(50) NOT NULL UNIQUE,
    fullname VARCHAR(100),
    name VARCHAR(50),
    email VARCHAR(100),
    course VARCHAR(50),
    year INTEGER,
    department VARCHAR(50),
    section VARCHAR(20),
    cgpa DOUBLE PRECISION,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
